<div class="favorites-designers-body">
  <div class="background-color-block">
  <h1 class="text-center">Nuestros diseñadores favoritos</h1>
    <div class="container my-container">
      <div class="d-flex my-row">

        <div class="card-favorite-designer col-3">

          <div class="designer-data-background">
            <div class="designer-data">
          
              <h3 class="designer-name-favorite-card">Pablo Casas</h3>

              <div class="d-flex justify-content-between align-items-center">

                <div>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="far fa-star" style="color: orange"></i>
                </div>


                <div class="circle-avatar" style="background-image: url('https://www.pngkit.com/png/detail/157-1573071_about-le-wagon-le-wagon-logo.png')">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="card-favorite-designer col-3">

          <div class="designer-data-background">
            <div class="designer-data">
          
              <h3 class="designer-name-favorite-card">Pablo Casas</h3>

              <div class="d-flex justify-content-between align-items-center">

                <div class="">
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="far fa-star" style="color: orange"></i>
                </div>


                <div class="circle-avatar" style="background-image: url('https://www.pngkit.com/png/detail/157-1573071_about-le-wagon-le-wagon-logo.png')">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="card-favorite-designer col-3">

          <div class="designer-data-background">
            <div class="designer-data">
          
              <h3 class="designer-name-favorite-card">Pablo Casas</h3>

              <div class="d-flex justify-content-between align-items-center">

                <div class="">
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="far fa-star" style="color: orange"></i>
                </div>


                <div class="circle-avatar" style="background-image: url('https://www.pngkit.com/png/detail/157-1573071_about-le-wagon-le-wagon-logo.png')">
                </div>

              </div>

            </div>

          </div>

        </div>

        <div class="card-favorite-designer col-3">

          <div class="designer-data-background">
            <div class="designer-data">
          
              <h3 class="designer-name-favorite-card">Pablo Casas</h3>

              <div class="d-flex justify-content-between align-items-center">

                <div class="">
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="fas fa-star" style="color: orange"></i>
                  <i class="far fa-star" style="color: orange"></i>
                </div>


                <div class="circle-avatar" style="background-image: url('https://www.pngkit.com/png/detail/157-1573071_about-le-wagon-le-wagon-logo.png')">
                </div>

              </div>

            </div>

          </div>

        </div>

        
        
      </div>
    </div>
  </div>
</div>