<footer class="footer" id="footer">
  <div class="footer-copyright">
    <%= image_tag "logo.png", style:"height: 16px;" %>
  </div>
  <div class="footer-links">
    <h6 class="p-0 m-0">¡Conócenos más!:</h6>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
