

.edit_instructions {
  background-color: #0B585A;
  height: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;

  p{
    margin-top: 60px;
  }

}


.style_image_edit{
  width: 250px;
}