// Specific CSS for your home-page
.letter-size {
  font-size: 20px;
}

.home_icons{
  width: 100px;
  margin-left: 88%;
  position: fixed;
  top: 535px;
  font-size: 14px;
}



.box1 {
  width: 141px;
  margin: 14px auto;
  background: #efccdbbb;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  position: relative;
  border-radius: 10px;
  margin-left: 20px;
  p {
    color: #167FFB;
    margin-bottom: 2px;
  }
  i{
    font-size: 24px;
    color: #167FFB;
  }
}

.box2 {
  width: 141px;
  margin: 14px auto;
  background: #5cb3edbb;
  padding: 5px;
  text-align: center;
  font-weight: 900;
  color: #fff;
  position: relative;
  border-radius: 10px;
  p {
    color: white;
    margin-bottom: 2px;
}
  i{
    font-size: 24px;
    color: white;
  }
}
.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid #efccdbbb;
  border-right: 10px solid transparent;
  border-top: 10px solid #efccdbbb;
  border-bottom: 10px solid transparent;
  right: -19px;
  top: 8px;
}

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid transparent;
  border-right: 10px solid #5cb3edbb;
  border-top: 10px solid #5cb3edbb;
  border-bottom: 10px solid transparent;
  left: -19px;
  top: 8px;
}

.box1:hover {
  transform: scale(1.2);

  box-shadow: 1px 1px 10px rgba(112, 112, 112, 0.8);
}

.box2:hover {
  transform: scale(1.2);

  box-shadow: 1px 1px 10px rgba(112, 112, 112, 0.8);
}

.hiw-card{
  width: 800px;
  padding: 20px;
  
}

.hiw_company{
  background-color: #efccdb41;
  // box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
}

.hiw_designer{
  background-color: #69b9ee28;
//  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  border-radius: 10px;
}

