<div class="container">
  <div class="form-wrapper" style="margin: 0 auto;">
    <%= simple_form_for [project, postulation] do |f| %>
        <%= f.input :description, as: :text, label:"Descripción de tu trabajo", placeholder: "Explica un poco sobre tu idea y tus objetivos...", label_html: { class: "text-dark"} %>       
        <%= f.input :file, as: :string, placeholder: "Ingresa el link de tu demo", label_html: { class: "text-dark"} %>
        <%= f.submit "Envia tu demo", disable_with: 'Submiting...', class: "btn btn-primary mb-3 p-3" %>
    <% end %>   
  </div>
</div>

