
<div class="banner-pages">
  <video autoplay muted loop id="myVideo" style="z-index: -2;">
    <source src="https://static.videezy.com/system/resources/previews/000/014/062/original/color_pencil_waves.mp4" autoplay loop playsinline muted>
  </video>
  <div class="container">
    <h1>Encuentra el mejor proyecto según tus intereses, habilidades y motivación a unos pocos clicks</h1>
  </div>
</div>
