<div class="banner">
  <%= render 'shared/navbar_home' %>
  <div class="container mt-5">
    <div class="col-6">
      <h1>Encuentra tu proximo proyecto.</h1>
      <p class="text-white">Trabaja con los mejores profesionales usando una de las plataformas de trabajo remoto m치s grandes del mundo.</p>

      <%= form_tag "#", method: :get do %>
        <div class="input-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: 'Prueba "Dise침o web y m칩vil"'
          %>

          <div class="input-group-append">
            <%= submit_tag "Search", class: "btn btn-primary", id:"basic-addon2" %>
          </div>

        </div>
      <% end %>

      <div class="d-flex mt-2">
        <p class="m-0"> Busquedas populares: </p>
        <div class="rounded-pill px-1 mx-1">
          <p class="m-0 text-wrap text-center">Dise침o web </p>
        </div>
        <div class="rounded-pill px-1 mx-1">
          <p class="m-0 text-wrap text-center">Logos </p>
        </div>
        <div class="rounded-pill border p-2 mx-1">
          <p class="m-0 text-wrap text-center">Folleteria </p>
        </div>
        </div>
    </div>

  
  </div>
</div>