<h1 class="categories-title mt-5 mb-5 pt-5">Explora nuestras categorías</h1>

<div class="container">

  <div class="categories-list d-flex mb-5">

    <% @categories.first(5).each do |category| %>
      <%= link_to projects_by_category_path(param:category.title) do  %>
        <div class="circle" style="background-image: url('<%= cl_image_path category.photo.key %>')">
          <p class="circle-text"><%= category.title %></p>
        </div>
      <% end %>
    <% end %>

  </div>
  
</div>
