<h1 class="categories-title m-5">Explora nuestras categorías</h1>

<div class="container position-relative">

  <div class="categories-list d-flex mb-5">

    <% @categories.each do |category| %>
      <div class="circle" style="background-image: url('<%= cl_image_path category.photo.key %>')">
        <%= link_to category.title, "#", class:"circle-text" %>
      </div>
    <% end %>

  </div>
  <h2 class="position-absolute bottom-0 end-0"><%= link_to "Ver todas las categorías", categories_path  %></h2>
  

</div>