<h1 class="categories-title">Explora nuestras categorias</h1>

<div class="container">

  <div class="categories-list d-flex">

    <% @categories.each do |category| %>
      <div class="circle" style="background-image: url('https://hipertextual.com/files/2019/11/hipertextual-impresionantes-fotografias-galardonadas-concurso-sociedad-britanica-ecologia-2019227038.jpg')">
        <%= link_to category.title, "#", class:"circle-text" %>
      </div>
    <% end %>

  </div>

</div>