<div id="how-ch-work" class="container">
  <h2>¿Cómo funciona?</h2>
  <br>
  <div class="container d-flex">
    <div class="d-inline">
      <h3>Publicar</h3>
      <p>Cuéntanos en simples pasos qué proyecto quieres realizar. ¡Gratis y sin compromiso!</p>
    </div>
    <div class="d-inline">
      <h3>Seleccionar</h3>
      <p>Recibe propuestas de excelentes diseñadores. Elige al mejor para tu proyecto.</p>
    </div>
    <div class="d-inline">
      <h3>Empieza ahora</h3>
      <p>Realiza el pago con garantía total y el diseñador empieza a trabajar :)</p>
    </div>
    <div class="d-inline">
      <h3>Aceptar</h3>
      <p>Recibe el trabajo finalizado y los fondos se liberarán al diseñador.</p>
    </div>
  </div>
    <tr class="d-flex">
      <td><%= link_to "Publica un proyecto", new_project_path, class: "btn btn-success rounded-pill btn-lg p-2 ml-0 my-2"  %></td>
      <td class="align-middle"><%= link_to "Trabaja como diseñador",  new_user_registration_path, class:"letter-size" %></td>
    </tr>
</div>
