<div id="how-ch-work" class="container">
  <h2>¿Cómo funciona?</h2>
  <h3 class="text-success mb-2">Empresa:</h3>
  <div class="container d-flex">
    <div class="d-inline mx-3">
      <h3 class="text-primary">Publicar <i class="fas fa-share-square"></i></h3>
      <p>Cuéntanos en simples pasos qué proyecto quieres realizar. ¡Gratis y sin compromiso!</p>
    </div>
    <div class="d-inline mx-3">
      <h3 class="text-primary">Seleccionar <i class="fas fa-check"></i></h3>
      <p>Recibe propuestas de excelentes diseñadores. Elige al mejor para tu proyecto.</p>
    </div>
 
    <div class="d-inline mx-3">
      <h3 class="text-primary">Aceptar <i class="far fa-handshake"></i></h3>
      <p>Recibe el trabajo finalizado y los fondos se liberarán al diseñador.</p>
    </div>
  </div>

    <h3 class="text-warning mb-2">Diseñador:</h3>
  <div class="container d-flex">
    <div class="d-inline mx-3">
      <h3 class="text-primary">Buscar <i class="fas fa-search"></i></h3>
      <p>Selecciona el proyecto que te interesa de acuerdo con tus objetivos, especialidad o empresa.</p>
    </div>
    <div class="d-inline mx-3">
      <h3 class="text-primary">Postularse <i class="fas fa-cloud-upload-alt"></i></h3>
      <p>Realiza un demo con tu propuesta al proyecto y comparte el link al postularte. </p>
    </div>
 
    <div class="d-inline mx-3">
      <h3 class="text-primary">Aceptar <i class="far fa-handshake"></i></h3>
      <p>Le empresa selecciona y acepta tu propuesta, entregas la versión final y recibes el pago.</p>
    </div>
  </div>
</div>
