  
<div class= "home_icons">
  <%= link_to new_project_path do  %>
    <div class="box1 sb1" >
      <div>
        <i class="far fa-lightbulb"></i>
      </div>
      <p>¿Empresa? crea tu projecto</p>
    </div>
  <% end %>

<% if user_signed_in? %>

  <%= link_to projects_path do  %>
    <div class="box2 sb2" >
      <div>
        <i class="fas fa-briefcase"></i>
      </div>
      <p>¿Diseñador? trabaja freelance</p>
    </div>
  <% end %>
</div> 

<% else %>

   <%= link_to user_session_path do  %>
    <div class="box2 sb2" >
      <div>
        <i class="fas fa-briefcase"></i>
      </div>
      <p>¿Diseñador? trabaja freelance</p>
    </div>
  <% end %>
</div> 

 <% end %>

