<div class= home_icons>
<ul id="registrate">
   <li> 
   <i class="far fa-lightbulb"></i>
   </li>
   <li>
   <%= link_to "¿Empresa? crea tu projecto", new_project_path  %>
   </li>
      
      <li>
      <i class="fas fa-briefcase"></i>
    </li>
    <li>
    <%= link_to "¿Diseñador? trabaja freelance",  new_user_registration_path %>
    </li>
</ul>
</div>