<%= render "shared/banner" %>

<div class="container">
  <div class="row m-4">

    <% @projects.each do |project| %>

      <%= render 'components/proposal_card', project: project %>

    <% end %>

  </div>
</div>

<%= render "components/footer" %>
