
<div class="container">

  <h1 class="text-center mb-4 pt-4">Mis Proyectos</h1>

  <div class="d-flex align-content-stretch flex-wrap">
    <% @projects.each do |project| %>

      <%= render 'components/my_project_card', project: project %>

    <% end %>
  </div>
</div>
