
<div class="container">

  <h1 class="text-center">Mis Proyectos</h1>

      <% @projects.each do |project| %>

        <%= render 'components/my_project_card', project: project %>

      <% end %>

</div>
