.banner {
  background-size: cover;
  background-position: center;
  padding: 24px 0;
  // background-image: image-url("homepage/baner-background-image.png");
  padding-top: 0px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

#basic-addon2{
  height: 38px;
}
#query{
  height: 38px;
}

.home_video {
 width: 100vw;
 height: 500px;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

// .banner-text{
//   background-color: #a08e8e7e;
//   padding-bottom: 6px;
//   border-radius: 10px;
// }