.countdown {
  font-size: 25px;
  font-weight: 500;


  span {
      font-size: 14px;
  }

  .back-number{
    background-color: rgb(185, 208, 232);
    // height: 52px;
  }

  .size-text{
    height:20px;
  }

}