.favorites-designers-body {
  height: 600px;
  margin-top: 50px;
}

.background-color-block {
  height: 400px;
  background-color: rgba($color: #5873B5, $alpha: 1.0);
  // padding-top: 50px;
}

.my-row {
  height: 130%;
}

.card-favorite-designer {
  height: 100%;
  background-color: none;
  padding: 10px;

  .designer-data {
    padding: 10px;
    width: 100%;
  }
  
  .designer-data-background {
    background-size: cover;
    object-position: center;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 4%;
  }
}

.my-container {
  height: 100%;
}

.designer-name-favorite-card {
  text-align: center;
  background-color: white;
  border-bottom-left-radius: 7% 44% ;
  border-bottom-right-radius: 7% 44% ;
  border-top-left-radius: 7% 44% ;
  border-top-right-radius: 7% 44% ;
}

.circle-avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-position: center;
}

#designers-margin {
  margin-bottom: 180px;
}
