.navbar-color {
  background: #EBE7EB;
}

.navbar-lewagon {
  justify-content: space-between;
  background: none;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.popular-search-color{
  background-color: #dcebf9;
  color: blue;
  width: 100px;
  height: 24px;

}
.avatar-grande{
width: 77px;
border-radius: 50%;
}
