.user-image {
  width: 70px;
  height: auto;
  border-radius: 50%;
  display: inline;
}

.my-text-wrap {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
  width: 95%;
  background-color: rgba($color: #D1E6E8, $alpha: 1.0);
}

.img-postulation {
  background-image: url('https://images.unsplash.com/photo-1511184150666-9bb7d41a88f4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-size: cover;
}

.img-postulation:hover {
  transform: scale(1.05);
  border: solid 1px rgba(112, 112, 112, 0.8);
  box-shadow: 1px 1px 10px rgba(112, 112, 112, 0.8);
}

a:hover {
  text-decoration: none;
}

.postulation-button {
  margin-bottom: 20px;  
}