<div class="container">
 <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <%= simple_form_for(category) do |f| %>
        <%= f.input :title, placeholder: "Nombre de la categoria", label_html: {class: "text-white"}%>
         <%= f.input :photo, as: :file %>
        <%= f.submit "Crea una categoria", class: "btn btn-primary" %>
    <% end %>
</div>
</div>